# Configfile example conifiguration

[LOGGING]
    # Allowed LOGLEVEL
    # DEBUG, WARNING, ERROR, CRITICAL, INFO
    LOGLEVEL = DEBUG
    NAME = SIP2MQTT

    #Logmodes: SYSLOG, PRINT, FILE
    #FILE
    #LOGMODE = LOGFILE
    LOGFILE = ./Sip2mqtt.log

    LOGMODE = PRINT
    LOGFILE = ./Sip2mqtt.log

    #LOGMODE= SYSLOG
    LOGSERVER= 192.168.2.50


[BROKER]
  HOST= 192.168.2.20
  PORT= 1883
  PUBLISH= SMARTHOME/CH/BE/SIP01/STATUS
  SUBSCRIBE = SMARTHOME/CH/BE/SIP01/LISTEN

[TRUNK]
   HOST = 192.168.2.1
   USER = 220
   PASSWORD = GEHEIM
